<!-- container-slide begin -->
<div class="container-slide full-height bg_color_005">
    <aside class="sidebar full-height no-padding">
        <!-- sub_nav category begin -->
        <nav class="sub_nav inner full-height">
            <a href='#' class="back-btn"></a>
            <h1 class='category-title'>Пиццы</h1>
            <!-- nav begin -->
            <ul class="nav">
                <li class='nav-item'><a href='#' class='nav-item-link'>Цезарь </a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Маргарита</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Пеппероне</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Пицца грибная</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Пицца 4-е сезона</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>С ветчиной и грибами</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>С курицей и маслинами</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>С морепродуктами</a></li>
            </ul>
            <!-- / nav end -->
        </nav>
        <!-- /sub_nav category end -->
    </aside>
    <!-- content begin -->
    <div class="content">
        <div class="content-media full-height">
          <video autoplay loop muted poster="/video/salad-001.jpg" class='menu-item-video'>
           <source src="/video/salad-001.ogv" type='video/ogg; codecs="theora, vorbis"'>
           <source src="/video/salad-001.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
           <source src="/video/salad-001.webm" type='video/webm; codecs="vp8, vorbis"'>
          </video>
        </div>
    </div>
    <!-- / content end -->
</div>
<!-- / container-slide end -->