<!-- container-slide begin -->
<div class="container-slide full-height bg_color_003">
    <!-- sidebar begin -->
    <aside class="sidebar full-height no-padding">
        <!-- sub_nav begin -->
        <nav class="sub_nav full-height">
            <ul class="nav">
                <li class='nav-item'><a href='#' class='nav-item-link'>Салаты </a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Закуски</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Бургеры</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Пиццы</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Супы</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Пасты</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Вызов такси</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Стейки</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Десерты</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>На мангале</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Роллы суши</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Вегетарианское</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Детские блюда</a></li>
            </ul>
        </nav>
        <!-- / sub_nav end -->
    </aside>
    <!-- / sidebar end -->
    <!-- content begin -->
    <div class="content">
        <div class="content-media full-height">
          <video autoplay loop muted poster="/video/salad-001.jpg" class='menu-item-video'>
           <source src="/video/salad-001.ogv" type='video/ogg; codecs="theora, vorbis"'>
           <source src="/video/salad-001.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
           <source src="/video/salad-001.webm" type='video/webm; codecs="vp8, vorbis"'>
          </video>
        </div>
    </div>
    <!-- / content end -->
</div>
<!-- / container-slide end -->