<!-- container-slide begin -->
<div class="container-slide full-height bg_color_004">
    <!-- sidebar begin -->
    <aside class="sidebar full-height text-center">
        <h2 class='sidebar-title short-title'>Напишите <br>сообщение</h2>
        <!-- contact-form begin   -->
        <div class="contact-form form">
            <input type="text" name="contact-form-name" class="text-field contact-form-name" placeholder='Ваше имя'>
            <input type="text" name="contact-form-phone" class="text-field contact-form-phone" placeholder='Телефон'>
            <textarea name="contact-form-comment" class="text-field contact-form-comment" placeholder='Сообщение'></textarea>
        </div>
        <!-- / contact-form end   -->

        <a href='#' class="action-btn centered">
            Отправить
        </a>
    </aside>
    <!-- / sidebar end  -->
    <!-- content begin -->
    <div class="content">
        <div class="content-media">
            <div class="full-height" style="background: green;">
                <iframe class="full-height" width='100%' frameBorder='0' src='https://a.tiles.mapbox.com/v4/pauloid.pce958dd/attribution,zoompan,zoomwheel,geocoder.html?access_token=pk.eyJ1IjoicGF1bG9pZCIsImEiOiJxWTlqQ2h3In0.6O221j5Wm_i095ShTbjNvg'></iframe>
            </div>
        </div>
    </div>
    <!-- / content end -->
</div>
<!-- / container-slide end -->