<!-- container-slide begin -->
<div class="container-slide full-height bg_color_004">
    <!-- sidebar begin  -->
    <aside class="sidebar full-height">
        <address class='contacts'>
            <div class="address">
                Северная Осетия, <br>
                город Владикавказ, <br>
                <strong>ул. Кутузова, 36</strong>
            </div>
            <div class="phone">
                Телефон: <br>
                <strong>64-10-10</strong>
            </div>
            <div class="email">
                Почта: <br>
                <strong>info@one-neo.ru</strong>
            </div>

            <div class="social-links">
                <a href="http://vk.com/" class="social-links-btn"><i class="fa fa-vk"></i></a>
                <a href="http://instagram.com/" class="social-links-btn"><i class="fa fa-instagram"></i></a>
                <a href="http://facebook.com/" class="social-links-btn"><i class="fa fa-facebook"></i></a>
            </div>
        </address>

        <a href='#' class="action-btn">
            Написать <br>
            сообщение
        </a>
    </aside>
    <!-- / sidebar end  -->
    <div class="content">
        <div class="content-media">
            <div class="full-height" style="background: green;">
                <iframe class="full-height" width='100%' frameBorder='0' src='https://a.tiles.mapbox.com/v4/pauloid.pce958dd/attribution,zoompan,zoomwheel,geocoder.html?access_token=pk.eyJ1IjoicGF1bG9pZCIsImEiOiJxWTlqQ2h3In0.6O221j5Wm_i095ShTbjNvg'></iframe>
            </div>
        </div>
    </div>
</div>
<!-- / container-slide end -->