<div class="container-slide full-height bg_color_002">
    <aside class="sidebar full-height">
        <br><br><br><br><br>
        <nav class="sub_nav">
            <ul class="nav">
                <li class='nav-item'><a href='#' class='nav-item-link'>Актуальные</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Анонсы событий</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Фотографии</a></li>
            </ul>
        </nav>

<!--         <div class="follow-box">
            Следите за новостями <br>
            в социальных сетях:


        </div> -->


        <a href='#' class="action-btn">
            Оставить <br>
            отзыв
        </a>
        
    </aside>
    <div class="content">
        <div class="content-slider">
            <div class="slide-item full-height" style="background-image: url('/img/public/event-002.jpg');"></div>
            <div class="slide-item full-height" style="background-image: url('/img/public/event-001.jpg');"></div>
        </div>
    </div>
</div>