<nav class="main-nav">
  <a href="#" class="main-nav-btn nav-menu"></a>
  <a href="#" class="main-nav-btn nav-tour"></a>
  <a href="#" class="main-nav-btn nav-news"></a>
  <a href="#" class="main-nav-btn nav-tables"></a>
  <a href="#" class="main-nav-btn nav-contact"></a>
  <a href="#" class="main-nav-btn nav-blog"></a>
  <a href="#" class="main-nav-btn nav-cam"></a>
  <a href="#" class="main-nav-btn nav-events"></a>

  <a href="#" class="main-nav-btn settings set-background"></a>
  
  <form action="" class="search-form">
    <input type="text" value='' placeholder='Поиск'>
    <input type="submit" value=''>
  </form>
</nav>