<div class="container-slide full-height bg_color_003">
    <aside class="sidebar full-height no-padding">
        <nav class="sub_nav">
            <ul class="nav">
                <li class='nav-item'><a href='#' class='nav-item-link'>Салаты </a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Закуски</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Бургеры</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Пиццы</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Супы</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Пасты</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Вызов такси</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Стейки</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Десерты</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>На мангале</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Роллы суши</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Вегетарианское</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Детские блюда</a></li>
            </ul>
        </nav>
        
    </aside>
    <div class="content">
        <div class="content-media full-height">
            <video muted loop class='menu-item-video'><source src="salad.mp4"></video>

            <!-- <div class="full-height" style="background-size: cover;background-image: url('/img/public/menu-001.jpg');"></div> -->
        </div>
    </div>
</div>
