// Site styles

// Colors
.bg_color_001 {background: #ed9900;} // Orange
.bg_color_002 {background: #d5211d;} // Red
.bg_color_003 {background: #42b01c;} // Green
.bg_color_004 {background: #0e8ad8;} // Blue
.bg_color_005 {background: #c25905;} // Brown

html {
  font-size:100%; // for ie
  width: 100%;
  height: 100%;
} 
body {
  width: 100%;
  height: 100%; 
  background: #232323;
  color: #fff;
  font-size: 0.625em; 
  font-family: 'PT Sans', sans-serif;
  background: url(/img/background/bg_01.jpg) center center no-repeat;
  background-size: cover;
}

// Tipography

h1 {
  font-size: 1.6em;
  margin: 0.833em;
  font-weight: 300;
}

p {
  font-size: 1.2em;
  line-height: 1.333em;
  margin-bottom: 1.25em;
}

a {color: #fff;}

.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}


// Header
.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 9em;
  z-index: 2;

  .logo {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4.5em auto auto -4.5em;
    width: 9em;
    height: 9em;
    background: url(/img/logo.png) center center no-repeat;
    background-size: cover;
  } //logo
} //header


// Main container

.main-nav-sw-btn {
  position: absolute;
  top: 9em;
  left: 5em;
  width: 5em;
  height: 5em;
  margin-top: -6em;
  border-radius: 50%;
  z-index: 2;
  outline: 0;

  background-color: #fff;
  background-position: center center;
  background-size: 43%;
  background-repeat: no-repeat;

  &.sw-open {background-image: url(/img/icons/nav-open-icon.png);}
  &.sw-close {background-image: url(/img/icons/nav-close-icon.png);}
}

.main-nav {
  position: absolute;
  top: 9em;
  right: 5em;
  bottom: 7em;
  left: 5em;
  z-index: 1;

  .main-nav-btn {
    display: block;
    position: absolute;
    border-radius: 50%;
    text-decoration: none;
    outline: none;

    background-color: #31be00;
    background-position: center center;
    background-size: 53%;
    background-repeat: no-repeat;

    box-shadow: inset 0px 24px 30px 0px rgba(50, 50, 50, 0.25);

    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      box-shadow: 0px 20px 30px 0px rgba(50, 50, 50, 0.3);
    }

    &.nav-menu {
      top: 0.6em;
      left: 0;
      width: 144px;
      height: 144px;
      background-color: #31be00;
      background-image: url(/img/icons/nav-menu-icon.png);
    }
    &.nav-tour {
      top: 0;
      left: 16em;
      width: 10em;
      height: 10em;
      background-color: #0241e8;
      background-image: url(/img/icons/nav-tour-icon.png); 
    }
    &.nav-news {
      top: 16.2em;
      left: 0.2em;
      width: 9.3em;
      height: 9.3em;
      background-color: #e31f1b;
      background-image: url(/img/icons/nav-news-icon.png);

    }
    &.nav-tables {
      top: 12em;
      left: 14em;
      height: 11.5em;
      width: 11.5em;
      background-color: #fea606;
      background-image: url(/img/icons/nav-tables-icon.png);
    }
    &.nav-contact {
      top: 22.7em;
      left: 8.3em;
      width: 9em;
      height: 9em;
      background-color: #1492e1;
      background-image: url(/img/icons/nav-contact-icon.png);
    }
    &.nav-blog {
      top: 28em;
      left: 0.6em;
      width: 7.5em;
      height: 7.5em;
      background-color: #00b17f;
      background-image: url(/img/icons/nav-blog-icon.png);
    }
    &.nav-cam {
      top: 29em;
      left: 16.1em;
      height: 9.5em;
      width: 9.5em;
      background-color: #e30471;
      background-image: url(/img/icons/nav-cam-icon.png);
    }
    &.nav-events {
      top: 34.2em;
      left: 8em;
      height: 8.2em;
      width: 8.2em;
      background-color: #921da2;
      background-image: url(/img/icons/nav-events-icon.png);
    }

    &.set-background {
      bottom: 12em;
      left: 0.1em;
      height: 5.6em;
      width: 5.6em;
      background-size: 70%;
      background-color: #fff;
      background-image: url(/img/icons/set-bg-icon.png);
    }

  }
  .search-form {
    display: none;
  }
}

// Main container
.container {
  border-radius: 4.8em;
  position: absolute;
  top: 9em;
  right: 5em;
  bottom: 7em;
  left: 5em;
  overflow: hidden;
  z-index: 2;
  box-shadow: 1px 0 60px rgba(0,0,0, .5);
  // background: #fff;

  .container-slide {
    overflow: hidden;
    position: relative;
  }

  .intro-video {
    position: relative;
    width: 100%;
    z-index: 1;
  }
  .intro-text {
    position: absolute;
    text-align: center;
    padding-top: 20%;
    margin-top: -40px;
    z-index: 2;
    width: 100%;
    font-size: 4.85em;
    font-weight: bold;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
  }

  .sidebar {
    width: 21%;
    float: left;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 9.6em;

    &.no-padding {
      padding: 0;
    }

    .sidebar-title {
      margin: 2.8em 0 1.8em;
      font-size: 2.2em;
      line-height: 1.2em;
      font-weight: 400;

      &.short-title {
        margin-bottom: 0.6em;
      }
    }

    .contacts {
      text-align: center;
      font-size: 1.6em;
      padding: 6em 0 0 0;
      box-sizing: border-box;
      font-style: normal;

      .address {
        margin-bottom: 3.5em;
      }
      .phone {
        margin-bottom: 3.5em;
      }
      .email {
        margin-bottom: 3.5em;
      }

      strong {
        font-size: 1.3em;
      }
    } //contact

    .nav-title {
      font-size: 3em;
      // margin: 3.05em 0 1em;
      margin: 1.05em 0 1em;
    }
    .category-title {
      font-size: 3em;
      margin: 0 0 .66em;
      line-height: 1.8em;
      font-weight: bold;
    }
    .sub_nav {
      text-align: center;
      // padding: 2.8em 0 9.6em;
      padding: 2.8em 0;
      box-sizing: border-box;
      overflow-y: scroll; // TODO: надо исправить

      &.inner {
        padding-top: 6em;

        .back-btn {
          display: inline-block;
          width: 6em;
          height: 6em;
          background: url(/img/icons/back-btn-icon.png) center center no-repeat;
          background-size: cover;
          border-radius: 50%;
        }

        .nav {
          .nav-item {
            font-size: 1.62em;
            margin: 0 0 .86em;
          }
        }
      } // .sub_nav.inner

      .nav {
        list-style-type: none;
        margin: 0;
        padding: 0 3.5em;
        .nav-item {
          font-size: 1.9em;
          margin: 0 0 .56em;
          padding: 0;

          &.active, &:hover {
            background: rgba(0,0,0, 0.2);
            border-radius: 1em;
          }

          .nav-item-link {
            display: block;
            padding: 0.4em;
            text-decoration: none;
            outline: none;
          } //nav-item-link
        } //nav-item
      } //nav
    } //sub_nav
    .product-info {
      text-align: center;
      padding: 0 3em;
      .product-title {
        font-size: 2.5em;
        margin: -0.4em 0 .66em;
        line-height: 1em;
        font-weight: 700;
      } // product-title
      .product-description {
        font-size: 1.6em;
        line-height: 1.1em;
        margin-bottom: 3.8em;
      } // product-description

      .product-price {
        margin: 0 0 5.8em;
        .title {
          margin: 0 1em;
          font-size: 2.4em;
          font-weight: normal;
        }
        .total {font-size: 3.7em;}
      } // product-price
      .product-count {
        .title {
          margin: 0 0 .5em;
          font-size: 1.44em;
          font-weight: normal;
          text-align: center;
        } // title
        .cart-count-value {
          width: 4.6em;
          display: inline-block;
          margin-bottom: 1em;
          font-size: 1.6em;
          line-height: 1.6em;
          padding: 0.1em 1em;
          border: 0;
          box-sizing: border-box;
          border-radius: 1em;
          color: #000;
          outline: none;
          text-align: center;
          font-weight: bold;
        } // cart-count-value
      } // product-count
    } // product-info
    .checkout-form {
      margin: 0 3em;
      .product-cart-row {
        margin-bottom: 2em;

        .product-cart-count {
          text-align: center;

          .cart-increase-btn, .cart-delete-btn {
            display: inline-block;
            color: #fff;
            font-size: 2em;
            padding: 0 0.3em;
            cursor: pointer;
          } // cart-increase-btn, cart-delete-btn
          .cart-count-value {
            border: 0;
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            background: #fff;
            color: #000;
            font-size: 1.4em;
            text-align: center;
            outline: none;
          } // cart-count-value
        } // product-cart-count
        .product-link {
          font-size: 1.5em;
          text-decoration: none;
          padding: .3em 0;
          display: block;
          outline: none;
        }

      } //product-cart-row
      .text-field {
        width: 100%;
        display: block;
        margin-bottom: 1em;
        font-size: 1.2em;
        line-height: 1.6em;
        padding: 0.5em 1em;
        border: 0;
        box-sizing: border-box;
        border-radius: 1em;
        color: #000;
        outline: none;

        &.checkout-form-comment {
          overflow: hidden;
          height: 13em;
        }
      } //text-field
    } //checkout-form

    .action-btn {
      position: absolute;
      left: 0;
      height: 4em;
      background: rgba(0,0,0, 0.4);
      width: 100%;
      bottom: 0;
      text-align: center;
      padding: 0.6em;
      font-size: 2.4em;
      font-weight: bold;
      color: #fff;
      box-sizing: border-box;
      text-decoration: none;
      outline: none;
      border: 0;
    } //action

  } //sidebar

  .content {
    position: relative;
    width: 79%;
    float: left;

    .content-slider {
      .slide-item {
        position: relative;
        width: 100%;
        outline: none;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      } //slide-item
    } //content-slider
    .content-media {
      background: #000;
      text-align: center;
      vertical-align: middle;
      .menu-item-video {
        width: auto !important;
        height: 100% !important;
      } //menu-item-video
    } //content-media
  } //content

} //container

// Footer
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7em;
  padding: 2.5em 0;
  box-sizing: border-box;
  text-align: center;

  .company_name {
    display: inline-block;
    width: 16.4em;
    font-size: 1.3em;
  } //company_name

  .bottom_nav {
    position: relative;
    display: inline-block;
    font-size: 1.3em;
    width: 20em;
    
    &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 15px;
      background: #fff;
      left: 0;
      top: 50%;
      margin-top: -7px;
    }
    &:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 15px;
      background: #fff;
      right: 0;
      top: 50%;
      margin-top: -7px;
    }

    .nav {
      margin: 0;
      padding: 0;
      list-style-type: none;
      .nav-item {
        display: inline-block;
        margin: 0 8px;
        padding: 0;
        .nav-item-link {
          text-decoration: underline;
        } //a
      } //li
    } //ul
  } //bottom_nav

  .created_by {
    display: inline-block;
    width: 16.4em;
    font-size: 1.3em;
  } //created_by
} //footer