<div class="container-slide full-height bg_color_001">
    <aside class="sidebar full-height">
        <nav class="sub_nav full-height">
            <h2 class='nav-title'>Возможности:</h2>
            <ul class="nav">
                <li class='nav-item'><a href='#' class='nav-item-link'>Интерактивное меню</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Лента фейсбука</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Лента новостей</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Открытки гостям</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Прогноз погоды</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Веб-камеры</a></li>
                <li class='nav-item'><a href='#' class='nav-item-link'>Вызов такси</a></li>
            </ul>
        </nav>

        <a href='#' class="action-btn">
            Резерв <br>
            стола
        </a>

    </aside>
    <div class="content full-height">
        <div class="content-slider">
            <div class="slide-item full-height" style="background-image: url('/img/public/table-001.jpg');"></div>
            <div class="slide-item full-height" style="background-image: url('/img/public/table-002.jpg');"></div>
            <div class="slide-item full-height" style="background-image: url('/img/public/table-003.jpg');"></div>
            <div class="slide-item full-height" style="background-image: url('/img/public/table-004.jpg');"></div>
        </div>
    </div>
</div>