<!-- container-slide begin -->
<div class="container-slide full-height bg_color_001">
    <!-- sidebar end  -->
    <aside class="sidebar full-height no-padding text-center">

        <h2 class='sidebar-title short-title'>Резерв <br>стола</h2>
        
        <!-- reserve-form begin -->
        <form class="">
            <div class="reserve-form form">
                <input type="text" name="reserve-form-name" class="text-field reserve-form-name" placeholder='Ваше имя'>
                <input type="text" name="reserve-form-phone" class="text-field reserve-form-phone" placeholder='Телефон'>
                <input type="text" name="reserve-form-time" class="text-field reserve-form-time" placeholder='Время'>
            </div>

            <div class='selected-table-box'>
                <h2 class='title'>Вы выбрали стол №</h2>
                <div class='selected-table'>10</div>
                <input type='hidden' vlaue='10'>
            </div>

            <button href='#' class="action-btn">
                Подтвердить
            </button>
        </form>
        <!-- / reserve-form end -->
    </aside>
    <!-- / sidebar end  -->

    <!-- content begin -->
    <div class="content">
        <div class="tables-scheme full-height">
            <!-- scheme-col begin -->
            <div class="scheme-col-1">
                <div class='table-btn'>1</div>
                <div class='table-btn'>5</div>
                <div class='table-btn'>9</div>
                <div class='table-btn'>12</div>
                <div class='table-btn'>16</div>
            </div>
            <!-- / scheme-col end -->
            <!-- scheme-col begin -->
            <div class="scheme-col-2">
                <div class='table-btn'>2</div>
                <div class='table-btn'>3</div>
                <div class='table-btn'>6</div>
                <div class='table-btn'>7</div>
                <div class='table-btn active'>10</div> <!-- Selectes table with class .active -->
                <div class='table-splash'>&nbsp;</div>
                <div class='table-btn'>13</div>
                <div class='table-splash'>&nbsp;</div>
                <div class='table-btn'>17</div>
            </div>
            <!-- / scheme-col end -->
            <!-- scheme-col begin -->
            <div class="scheme-col-3">
                <div class='table-splash'>&nbsp;</div>
                <div class='table-btn'>4</div>
                <div class='table-splash'>&nbsp;</div>
                <div class='table-btn reserved'>8 <span>Забронирован</span></div> <!-- Reserved table with class .reserved -->
                <div class='table-splash'>&nbsp;</div>
                <div class='table-btn'>11</div>
                <div class='table-btn'>14</div>
                <div class='table-btn'>15</div>
            </div>
            <!-- / scheme-col end -->
        </div>
    </div>
    <!-- / content end -->
</div>
<!-- / container-slide end -->